<mat-sidenav-container class="sidenav">
	<mat-sidenav #sidenav mode="over">
		<button class="chevron-right" mat-raised-button color="primary" (click)="sidenav.toggle()"><mat-icon>chevron_left</mat-icon></button>
		<app-sidebar-content (sidenav)="sidenav.toggle()"></app-sidebar-content>
	</mat-sidenav>

	<mat-sidenav-content>
		<button mat-raised-button color="primary" (click)="sidenav.toggle()"><mat-icon>chevron_right</mat-icon></button>
		<app-sticky-bottom></app-sticky-bottom>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

