.app-game-detail {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .primary-button {
	margin-top: 20px;
	cursor: pointer;

	a {
	  color: white;
	  text-decoration: none;
	}
  }
}
