/* You can add global styles to this file, and also import other style files */
@import "@app/colors";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sidenav {
  height: 100%;

  .material-sidenav {
	background: $gray;
  }
}
